<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ZKTimeNetLanguage" type="ZKTimeNet.Language.LanguageSection, ZKTimeNet.Language" requirePermission="false" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="url" value="http://dkox4xdw4w79w.cloudfront.net/SoftwareUpdate" />
    <add key="MainApp" value="ZKTimeNet.exe" />
    <add key="MainAppConfig" value="ZKTimeNet.exe.config"/>
  </appSettings>
  <ZKTimeNetLanguage default="US">
    <Settings>
      <add key="en-US" value="US" />
      <add key="ar-AE" value="AR" />
      <add key="vi-VN" value="VN" />
      <add key="zh-HK" value="CHT" />
      <add key="ja-JP" value="JA" />
      <add key="fr-FR" value="FR" />
      <add key="ru-RU" value="RU" />
      <add key="es-ES" value="ES" />
      <add key="tr-TR" value="TR" />
      <add key="id-ID" value="ID" />
      <add key="th-TH" value="TH" />
      <add key="ko-KR" value="KR" />
      <add key="pt-PT" value="PT" />
    </Settings>
  </ZKTimeNetLanguage>
</configuration>