<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ZKTimeNetLanguage" type="ZKTimeNet.Language.LanguageSection, ZKTimeNet.Language" requirePermission="false" allowDefinition="Everywhere" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <!--log4net配置-->
  <log4net debug="true">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!--useLegacyV2RuntimeActivationPolicy="true"-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="CheckTime" value="2018-08-11" />
    <add key="License" value="" />
    <add key="InstallDate" value="" />
    <add key="UpdateConfirm" value="true" />
    <add key="RemainDays" value="30" />
    <add key="NeedDistinct" value="1" />
    <add key="SupportLetterPin" value="0" />
    <add key="AutoConnectZKProto" value="1" />
    <add key="SyncInterval" value="5" />
    <add key="ConnInterval" value="10" />
    <add key="ServerIP" value="192.168.12.31" />
    <add key="SyncPort" value="4372" />
    <add key="ControlPort" value="4373" />
    <add key="CoreVersion" value="1" />
    <add key="MaxOperations" value="1024" />
    <add key="IncludeAndroid" value="0" />
    <add key="ControlClientID" value="0" />
    <add key="IsKnown" value="0" />
    <add key="Policy" value="0" />
    <add key="ControlPwd" value="zkprotoadmin" />
    <add key="pControlPort" value="4373" />
    <add key="pSyncPort" value="4372" />
    <add key="IsServerNeedPwd" value="0" />
    <add key="pShowControlDebug" value="1" />
    <add key="pShowSyncDebug" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseHttp" value="false" />
    <add key="Port" value="8080" />
    <add key="TranseType" value="0" />
    <add key="RealTime" value="1" />
    <add key="TransInterval" value="1" />
    <add key="TransTimes" value="" />
    <add key="PhotoDirectory" value="" />
    <add key="Timezone" value="42" />
    <add key="AddNewTerminal" value="true" />
    <add key="WDMSAutoSync" value="0" />
    <add key="WDMSIP" value="192.168.12.52" />
    <add key="WDMSPort" value="8081" />
    <add key="WDMSConnectTimeOut" value="100" />
    <add key="UsePunchState" value="false" />
    <add key="PollingInterval" value="90" />
    <add key="Supports" value="supports@zkteco.com" />
    <add key="activeRoundingSetting" value="0" />
    <add key="ShowRunningBackground" value="false" />
    <add key="checkZKDevice" value="0" />
    <add key="supportP2PMax" value="10" />
    <add key="CompanyName" value="" />
    <add key="CompanyEmail" value="" />
    <add key="url" value="http://license.zkteco.com" />
    <add key="updateurl" value="http://dkox4xdw4w79w.cloudfront.net/SoftwareUpdate" />
    <add key="FirstStart" value="0" />
    <add key="firstRunBioTemplate" value="0" />
    <add key="showAccessControl" value="0" />
    <add key="showEmailSet" value="0" />
    <add key="showShortMessage" value="0" />
    <add key="showWorkCode" value="0" />
    <add key="showUDisk" value="0" />
    <add key="showDLAttenPhoto" value="0" />
    <add key="supportP2P" value="1" />
    <add key="StartDate" value="2026-5-26" />
    <add key="EndDate" value="2026-6-1" />
    <add key="StartUpEnable" value="False" />
    <add key="ReCheckEnable" value="False" />
    <add key="MinutesInterval" value="0" />
    <add key="CloseMethodGroup" value="1" />
    <add key="AgainPrompt" value="0" />
    <add key="RememberMe" value="0" />
    <add key="LoginUser" value="" />
    <add key="LoginPWD" value="" />
  </appSettings>
  <ZKTimeNetLanguage default="US">
      <Settings>
        <add key="en-US" value="US" />
        <add key="ar-AE" value="AR" />
        <add key="vi-VN" value="VN" />
        <add key="zh-HK" value="CHT" />
        <add key="ja-JP" value="JA" />
        <add key="fr-FR" value="FR" />
        <add key="ru-RU" value="RU" />
        <add key="es-ES" value="ES" />
        <add key="tr-TR" value="TR" />
        <add key="id-ID" value="ID" />
        <add key="th-TH" value="TH" />
        <add key="ko-KR" value="KR" />
        <add key="pt-PT" value="PT" />
      </Settings>
  </ZKTimeNetLanguage>
  <!--syscolor-->
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">
        Data Source=default.db
      </property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="hbm2ddl.auto">update</property>
      <property name="show_sql">false</property>
      <property name="adonet.batch_size" >1000</property>
      <mapping assembly="ZKTimeNet.Entities"/>
    </session-factory>
  </hibernate-configuration>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>